@font-face {
    font-family: myFirstFont;
    src: url(Montserrat-Medium.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(-45deg,#D00D2D,#002E6D);
    background-size: 400% 400%;
    width:100%;
    min-height: 100vh;
    overflow-x: hidden;
    animation: moveColors 20s ease infinite alternate;
    font-family: myFirstFont;
}

@keyframes moveColors {
    0%,10% {background-position: 0%;}
    100% {background-position: 100%;}
}

img {
    width: 200px;
    height: auto;
}

.container, .modal-content {
    background-color: white;
    height: auto;
    border-radius: 20px;
    padding: 2%;
    transition: 0.6s ease;
    transition-delay: 0.4s;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
}

#container1 {
    opacity: 1;
}

#container1 button {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    padding: 1.5%;
    border-radius: 5px;
    font-size:x-large;
    cursor: pointer;
    transition-duration: 0.4s;
}

#container1 button:hover, #back:hover, #modalBtn:hover,
#relationship:hover, #finish:hover, #return:hover,
input[type=submit]:hover, #top:hover {
    background: linear-gradient(-45deg,#D00D2D,#002E6D);
    color: white;
    border-color: transparent;
}

#container1 button:active, #back:active, #modalBtn:active,
#relationship:active, #finish:active, #return:active,
input[type=submit]:active, #top:active {
    background: linear-gradient(-45deg,#D00D2D,#002E6D);
    color: white;
    border-color: transparent;
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.row {
    display: flex;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

#container2, #container3, #container4, #container5,
#container6, #container7, #container8, #container9, 
#container10, #container11 {
    opacity: 0;
    z-index: -1;
}

#container2 p, #container4 h4 {
    text-align:center;
}

#back, #modalBtn, #relationship,
#finish, #return, input[type=submit] {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    padding: 1.5%;
    border-radius: 5px;
    font-size:medium;
    cursor: pointer;
}

#container3 p, #container3 li, #container4 p, #container4 li, 
#container5 p, #container6 p, #container7 p, #container8 p {
    text-align: justify;
}

#container4 audio {
    width: 100%;
}

.modal {
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: fixed;
    left: 0;
    right: 0;
    top: 10vh;
    margin: auto;
    width:60%;
    z-index: 3;
    display: none;
    overflow-y: auto;
}

.close {
    font-size: xx-large;
    font-weight: bold;
}

.close:hover {
    cursor: pointer;
}

form {
    margin-left:10%;
}

input[type=text], input[type=email], textarea {
    width: 90%;
    font-size: medium;
    padding: 10px;
}

#submitButton {
    text-align: center;
}

#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 1.5%;
    border-radius: 5px;
    font-size:medium;
    cursor: pointer;
    background-color: white;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .row {
        display:inline-block;
    }

    .column {
      width: 100%;
    }

    .container, .modal-content {
        padding: 5%;
        width: 70%;
    }

    #back, #modalBtn, #finish, 
    #return, input[type=submit], #top {
        padding: 3%;
    }

    #container1 button {
        font-size:larger;
    }

    #container8 button {
        display: block;
        margin: 10px 0 10px 0;
    }

    form {
        margin-left:5%;
    }
}

@media screen and (max-width: 300px) {
    body {
        background-size: 550% 550%;
    }

    .container {
        width: 80%;
    }

    #back, #modalBtn, #finish, 
    #return, input[type=submit], #top {
        padding: 4%;
    }
}